/*Manter o footer embaixo*/
#app{height: 100%;display: flex;flex-direction: column;}
main{flex: 1 0 auto;}
footer{flex-shrink: 0;}
/*FIM Manter o footer embaixo*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }

.menu.categorias {
    background-color: #0988BE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/** Filtro buscar **/
  .filtroBusca {
      margin: 10px;
  }

  .menu.categorias .btn-buscar{
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px;
    font-weight: 700;
    border-left-color: #0000001c;
  }
/** Fim Filtro buscar **/

.category-stripe a .icon-background {
    background-color: #fff;
    border-radius: 100%;
    width: 58px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    transition: box-shadow .3s;
}

.category-stripe a {
    cursor: pointer;
    min-height: 91px;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbarSupportedContent li{
     float: left;
     margin: 10px;
}

.card-text{
  text-align: justify;
}

/*Layout Base*/
  header .logo{
    width: 130px;
  }

  header .img-anuncio{
    width: 40px;
    margin-right: 10px;
  }

  header .img-carrinho{
    width: 60px;
  }

  header a{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.58);
    font-weight: 700;
  }

  header .anuncie-aqui{
    background-color: #B84343;
    padding: 10px 15px;
    border-radius: 15px;
  }

  header .anuncie-aqui a{
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
  }

  footer{
    background-color: #0988BE;
    padding: 30px 0px;
    position: relative;
    bottom: 0px;
  }

  footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  footer .links a{
    color: #FFF;
    padding: 15px 0px;
  }

  footer .midia_social{
    display: flex;
    justify-content: space-around;
  }

  footer .midia_social i{
    color: #FFF;
    font-size: 30px;
  }

  .form-group label{
    font-size: 16px;
    font-weight: 700;
  }

  .kokoro{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
  }

  .kokoro:focus{
    outline: none;
  }

  .kokoro i{
    font-size: 20px;
    color: #ff0e0e91;
  }

/*Fim Layout Base*/
/*Produto*/
  /*CSS - Quem Somos*/

  .envolto {
    margin-top: 100px;
  }

  .perfil {
    flex-grow: 1;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    text-align: center;
  }

  .foto img {
    width: 150px;
  }

  .informacoes_perfil {
    font-family: goudy old style;
    font-size: 1.25em;
    font-weight: lighter;
    padding-top: 15px;
  }

  .informacoes_perfil span {
    display: block;
    line-height: 1.5em;
    text-align: center;
  }

  .menu_return {
    margin-top: 70px;
  }

  .menu_return ul {
    font-family: goudy old style;
    text-align: center;
    font-size: 20px;
    list-style: none;
  }

  .menu_return ul li {
      padding: 10px;
    color: #0988BE;
      display: inline;
  }

  .menu_return ul li a:hover {
    color: #A52A2A;
  }

  .menu_return ul li a:link {
    text-decoration: none;
  }

  .catalogo {
    margin-top: 30px;
  }

  .produto {
    display: flex;
    margin: 20px;
  }

  .informacoes_produtos {
    font-family: goudy old style;
    font-size: 1.25em;
    font-weight: lighter;
    margin-left: 20px;
  }

  .informacoes_produtos span {
    display: block;
    line-height: 1.5em;
    text-align: left;
  }

  .menu_produtos {
    margin-top: 40px;
  }

  .menu_produtos ul {
    font-family: goudy old style;
    text-align: center;
    font-size: 20px;
    list-style: none;
  }

  .menu_produtos ul li {
      padding: 10px;
    color: #0988BE;
      display: inline;
  }

  .menu_produtos ul li a:hover {
    color: #A52A2A;
  }

  .menu_produtos ul li a:link {
    text-decoration: none;
  }

  /*Produto - show */
    #view-produto .img-produto{
      max-height: 400px;
    }
    #view-produto .btn-comprar{
      font-size: 20px;
      font-weight: 700;
      width: 150px;
    }

    #view-produto .descricao-produto{
      max-height: 130px;
      overflow-y: auto;
      font-size: 18px;
      text-align: justify;
      font-weight: 900;
      padding: 0px 15px;
    }

    #view-produto .valor-produto{
      font-size: 26px;
      font-weight: 700;
      text-align: right;
      margin: 0px;
    }
  /*Fim Produto - show */

/*Fim Produto*/

/*Carrinho Compra*/
  /*Carrinho Compra - Index*/
    #carrinho-compra-listagem td{
      font-weight: 700;
      font-size: 14px;
    }

    #carrinho-compra-listagem .descricao_produto{
      text-align: justify;
    }

    #valor-total-carrinho{
      font-size: 20px !important;
    }
  /*Fim Carrinho Compra - Index*/
/*Fim Carrinho Compra*/

/*Transacao*/
  /*Transacao - index*/
    #transacao-listagem tbody td{
      width: 25%;
      font-weight: 700;
      font-size: 14px;
    }
  /*Fim Transacao - index*/
/*Fim Transacao*/

/** Slider categoria **/
.slick-slider a:focus{
  outline: none;
}

#slider-categorias .slick-slide:hover{
    opacity: 0.7;
}
/** Slider categoria **/


/* CSS para Meus Anuncios*/
.produto-anunciado{
  height: 175px;
  object-fit: cover;
}
/*FIM CSS para Meus Anuncios*/

.card-text{
  text-align: left;
}

.texto-regularizado{
  text-align: left;
}

.imagem-responsivo-cat img{
  max-width: 100%;
  height: auto;
}

.tendencia-central{
  max-width: 100px;
}
/* 
.bg-destaque{
	height: 300px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media(max-width: 768px){
  .bg-destaque{
    height: auto;
  }
} */

/** Informações do site **/
  #informacoes{
    background-color: #EBEBEB;
    padding: 30px 0px;
  }

  #informacoes .item img{
    width: 40%;
  }
/** Fim Informações do site **/
